.idea/*

getway/app/.env

authService/.idea/*
authService/.env
authService/.docker_env

orderService/.idea/*
orderService/.env
orderService/.docker_env

inventoryService/.idea/*
inventoryService/.env
inventoryService/.docker_env

sagaService/.idea
sagaService/.docker_env
sagaService/.env
